body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.navbar-title {
  margin-right: 40px;
}

.navbar-lt, .navbar-rt {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
  
}

.head-button {
  margin: 0px 0px;
 }

input {
  margin: 5px;

}

.container {
  margin: 0px;
  margin-left: 12px;
  width: 100%;
  margin-right: 12px;
}

.library-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  width: 99%;
}
.card-div {
  border: 2px solid black;
  margin: 4px;
  padding: 4px;
  border-radius: 12px;
  width: 220px;
  height: 340px;
}



table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: default;
}

button, img {
  margin: 4px;
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  display: block;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}