h1, h3 {
  color: blue;
  padding: 5px;
  margin-left: 10px;
}

h3 {
  color: black;
  margin-top: 10px;
}
h4 {
  margin: 10px;
}

.header {
  display: flex;
  flex-grow: 1;
  width:100%;
  border: 1px solid black; 
}

.head-left, .head-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.head-button {
  margin: 0px 0px;
 }

input {
  margin: 5px;

}

.library-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-div {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  width: 320px;
  height: 320px;
}

table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: default;
}

button, img {
  margin: 4px;
}